* {
    box-sizing: border-box;
    padding: 0;
    margin: 5;
}
body {
    font-family: 'Dosis', sans-serif;
    background-color: mediumaquamarine;
    background-image: url("5999025.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 28x;
    text-align: center;
    top: 50%;
}

.container {
    background-color: lightgray;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90vm;
    padding: 3vm;
    border-radius: 2%;
    font-size: 14px; 
}

h1 {
    text-align: center;
}

#words-container div {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em 0 2.4em 0;
}

#words-container button {
    text-transform: capitalize;
    border: 1px solid darkgrey;
    background-color: whitesmoke; 
    color: black;
    border-radius: 0.2em;
    padding: 1.5em 2em; 
    
}

#letter-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 0.5em;
    padding: 1em;
}

#letter-container button {
    height: 2.4em;
    width: 2.4em;
}

#user-input-section{
    display: flex;
    justify-content: center;
    font-size: 3em;
}
@media (max-width: 1000px) {
    body {
    background-size: 1000px 600px;
    }
}

